<div class="container" style="margin-top: 6em;">

    <div class="row mt-5">
        <div class="col-12 bg-dark p-4" style="margin-top:-1em;">

            <h1>Datenschutzerklärung</h1>
            <h6 class="text-primary">Übersetzen in:
                <%= link_to 'English', privacy_police_en_path, class: 'text-warning' %>
            </h6>

        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 bg-dark p-4">

            <div class="crayons-card text-styles text-padding">
                <p>Gültig ab 18. Juli 2021</p>
                <p>Diese Richtlinie gilt für die CodeBatch-Community.</p>
                <h3> Welche Informationen die CodeBatch-Community sammelt und warum
                </h3>
                <p>Um Ihnen die bestmögliche Erfahrung mit der CodeBatch Community zu
                    bieten, sammeln wir Informationen über Ihre Interaktionen
                    mit unserem Netzwerk. Wir verwenden gängige
                    Internettechnologien wie Cookies und Webserverprotokolle.
                    Wir sammeln diese grundlegenden Informationen von jedem,
                    unabhängig davon, ob er ein Konto hat oder nicht.</p>
                <p>Die Informationen, die wir über alle Besucher unserer Website
                    sammeln, umfassen:</p>
                <ul>
                    <li>Browsertyp des Besuchers</li>
                    <li>Verweisende Website</li>
                    <li>Datum und Uhrzeit jeder Besucheranfrage</li>
                    <li>Wir sammeln auch potenziell personenbezogene Daten wie
                        Internet Protocol (IP)-Adressen.</li>
                </ul>
                <p>Wir verwenden diese Informationen, um:</p>
                <ul>
                    <li>CodeBatch Community Services bereitstellen, testen,
                        verbessern, bewerben und personalisieren</li>
                    <li>Bekämpft Spam und andere Formen des Missbrauchs</li>
                    <li>Generieren Sie aggregierte, nicht identifizierende
                        Informationen darüber, wie Menschen die
                        CodeBatch-Community-Dienste nutzen</li>
                </ul>
                <p>Damit Sie ein Konto in der CodeBatch Community erstellen und unsere
                    Dienste nutzen können, müssen wir bestimmte Informationen
                    sammeln und verarbeiten. Abhängig von Ihrer Nutzung der
                    Dienste kann dies Folgendes umfassen:</p>
                <ul>
                    <li>Mitteilungen, die Sie an uns senden (z. B. wenn Sie um
                        Support bitten, uns Fragen oder Kommentare senden oder
                        ein Problem melden);</li>
                    <li>Informationen, die Sie an oder an die CodeBatch-Community in
                        Form von Reaktionen, Kommentaren oder Nachrichten an
                        andere Benutzer übermitteln;</li>
                    <li>Die mit Ihrem Twitter-Konto verknüpfte E-Mail-Adresse,
                        wenn Sie sich mit Ihren Twitter-Anmeldeinformationen
                        anmelden. Die CodeBatch-Community wird auch die Erlaubnis zum
                        Zugriff auf zusätzliche Informationen anfordern (diese
                        Erlaubnisse unterliegen den Datenschutzrichtlinien von
                        Twitter und können über Ihre
                        Twitter-Datenschutzeinstellungen verwaltet werden). Wir
                        posten niemals etwas ohne deine Erlaubnis auf deinem
                        Twitter.</li>
                    <li>Die mit Ihrem GitHub-Konto verknüpfte E-Mail-Adresse,
                        wenn Sie sich mit Ihren Github-Anmeldeinformationen
                        anmelden. Die CodeBatch-Community wird auch die Erlaubnis zum
                        Zugriff auf zusätzliche Informationen anfordern (diese
                        Berechtigungen unterliegen den Datenschutzrichtlinien
                        von GitHub und können über Ihre
                        GitHub-Datenschutzeinstellungen verwaltet werden). Wir
                        veröffentlichen niemals etwas ohne Ihre Erlaubnis auf
                        Ihrem GitHub.</li>
                    <li>Sie haben auch die Möglichkeit, uns weitere
                        Informationen zu geben, wenn Sie möchten, und dies kann
                        „persönliche Benutzerdaten“ beinhalten.</li>
                </ul>
                <h3>Informationsoffenlegung</h3>
                <p>Wir geben, verkaufen, vermieten oder handeln keine
                    personenbezogenen Daten von Benutzern mit Dritten für
                    kommerzielle Zwecke.
                    <br>
                    <br>
                    Wir teilen bestimmte aggregierte, nicht personenbezogene
                    Daten mit anderen darüber, wie unsere Benutzer gemeinsam die
                    CodeBatch-Community nutzen. Beispielsweise können wir
                    Informationen über die Popularität verschiedener
                    Programmiersprachen an Werbepartner weitergeben.
                    <br>
                    <br>
                    Wir hosten First-Party-Werbung in der CodeBatch-Community. Wir
                    führen keinen Code von Werbetreibenden aus und alle
                    Anzeigenbilder werden auf verwalteten CodeBatch-Community-Servern
                    gehostet. Weitere Informationen finden Sie in unserem
                    Abschnitt zu Werbedetails.
                    <br>
                    <br>
                    Wir können personenbezogene Benutzerdaten mit Ihrer
                    Erlaubnis verwenden, damit wir von Ihnen autorisierte
                    Dienste ausführen können.
                    <br>
                    <br>
                    Wir können personenbezogene Benutzerdaten an eine begrenzte
                    Anzahl von Drittanbietern weitergeben, die sie in unserem
                    Auftrag verarbeiten, um unseren Service bereitzustellen oder
                    zu verbessern, und die Datenschutzbeschränkungen ähnlich
                    unserer eigenen Datenschutzerklärung zugestimmt haben.
                    Unsere Drittanbieter sind unten aufgeführt.
                </p>
                <h3>Werbedetails</h3>
                <p>Wir zielen Anzeigen ausschließlich auf der Grundlage von:</p>
                <ul>
                    <li>Details der Seite, auf der die Werbung gezeigt wird,
                        einschließlich:
                        <ul>
                            <li>Der Name und die Schlüsselwörter, die mit der
                                angezeigten Seite oder dem angezeigten Artikel
                                verknüpft sind
                                <ul>
                                    <li>Wir gestatten Werbetreibenden, Anzeigen
                                        auf eine Liste von Keyword-Werbung
                                        auszurichten.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>Wir können Anzeigen platzieren in:</p>
                <ul>
                    <li>Seitenleisten</li>
                    <li>Unterstehende Artikel</li>
                    <li>Auf Suchergebnisseiten</li>
                    <li>Auf Tag-Seiten</li>
                    <li>Unsere engagierte Sponsorenseite</li>
                </ul>
                <p>Alle registrierten Mitglieder haben die Möglichkeit, Werbung
                    – sofern angemessen – über ihre Einstellungsseite zu
                    deaktivieren. Es ist beispielsweise nicht möglich, bestimmte
                    Anzeigen in Form von Anerkennungsbeiträgen, Website-weiten
                    Wettbewerben, speziellen Sponsoring-Seiten usw. zu
                    deaktivieren.</p>
                <h3>Drittanbieter</h3>
                <p>
                    <strong>Wir können Ihre Kontoinformationen unter bestimmten
                        Umständen an Dritte weitergeben,
                        einschließlich:</strong> (1) mit Ihrer Zustimmung; (2)
                    an einen Dienstleister oder Partner, der unsere
                    Datenschutzstandards erfüllt; (3) zu Umfrage- oder
                    Forschungszwecken, nach Aggregation, Anonymisierung oder
                    Pseudonomisierung; (4) wenn wir in gutem Glauben der Ansicht
                    sind, dass dies gesetzlich vorgeschrieben ist,
                    beispielsweise aufgrund einer Vorladung oder eines anderen
                    rechtlichen Verfahrens; (5) wenn wir in gutem Glauben der
                    Ansicht sind, dass dies dazu beiträgt, einen bevorstehenden
                    H zu verhindern jemanden bewaffnen.
                </p>
                <p><strong>Datenspeicherung</strong>
                    <br>
                    CodeBatch Community verwendet Drittanbieter und Hosting-Partner
                    für Hardware, Software, Netzwerke, Speicher und verwandte
                    Technologien, die wir zum Betrieb der CodeBatch Community
                    benötigen. Durch die Nutzung der CodeBatch Community-Dienste
                    ermächtigen Sie CodeBatch Community, Ihre Informationen in den
                    Vereinigten Staaten und in jedem anderen Land, in dem wir
                    tätig sind, zu übertragen, zu speichern und zu verwenden.
                    Alle Dienstleister und Drittanbieter sind verpflichtet,
                    unsere Datenschutzstandards einzuhalten.
                </p>
                <p><strong>Site-Überwachung</strong>
                    <br>
                    CodeBatch Community verwendet eine Vielzahl von Diensten von
                    Drittanbietern, um Fehler zu diagnostizieren und die
                    Leistung unserer Website zu verbessern. Wir sind bestrebt,
                    die Menge der weitergegebenen personenbezogenen Daten zu
                    minimieren, aber die Informationen können Ihre IP-Adresse
                    oder andere identifizierende Informationen enthalten. Alle
                    Dienstleister und Drittanbieter sind verpflichtet, unsere
                    Datenschutzstandards einzuhalten.
                </p>
                <p><strong>Zahlungsabwicklung</strong>
                    <br>
                    CodeBatch Community verarbeitet Zahlungen nicht direkt – wir
                    verlassen uns auf Dienste von Drittanbietern wie Stripe,
                    Shopify und Paypal, um Zahlungen zu empfangen und
                    Zahlungsinformationen zu speichern.
                </p>
                <p><strong>Einbettungen von Drittanbietern</strong>
                    <br>
                    Einige der in der CodeBatch-Community angezeigten Inhalte werden
                    nicht von der CodeBatch-Community gehostet. Diese
                    „Einbettungen“ werden von einem Drittanbieter gehostet und
                    in die CodeBatch-Community eingebettet. Zum Beispiel:
                    YouTube-Videos, Codepens,
                    Twitter-Tweets oder GitHub-Code, die in einem
                    CodeBatch-Community-Beitrag erscheinen. Diese Dateien senden Daten
                    an die gehosteten
                    Website, als ob Sie diese Website direkt besuchen würden (z.
                    B. wenn Sie eine Beitragsseite der CodeBatch-Community mit .
                    laden)
                    ein YouTube-Video darin eingebettet ist, erhält YouTube
                    Daten über Ihre Aktivität). CodeBatch Community kontrolliert nicht
                    was
                    Daten, die Dritte in solchen Fällen erheben oder was sie
                    damit machen. Drittanbieter-Einbettungen in die
                    CodeBatch-Community
                    fallen nicht unter diese Datenschutzerklärung; sie
                    unterliegen der Datenschutzrichtlinie des
                    Drittanbieterdienstes. Aufmerksam sein
                    wenn Sie mit diesen Diensten interagieren.
                </p>
                <p><strong>Facebook (Besucheraktionspixel)</strong>
                    <br>
                    Wir verwenden auf unserer Website die
                    „Besucheraktions-Pixel“ der Facebook Inc.
                    <br>
                    <br>
                    Dadurch kann das Nutzerverhalten nachverfolgt werden,
                    nachdem diese durch Anklicken einer Facebook-Werbeanzeige
                    auf unsere Website weitergeleitet wurden. Dadurch können wir
                    die Wirksamkeit von Facebook-Werbung messen. Die so
                    erhobenen Daten sind für uns anonym, d.h. wir sehen nicht
                    die personenbezogenen Daten einzelner Nutzer. Diese Daten
                    werden jedoch von Facebook gespeichert und verarbeitet,
                    weshalb wir Sie entsprechend unserem Kenntnisstand
                    informieren. Facebook kann diese Informationen mit Ihrem
                    Facebook-Konto verknüpfen und auch für eigene Werbezwecke
                    verwenden, gemäß
                    <a href="https://www.facebook.com/about/privacy">Datennutzungsrichtlinie
                        von Facebook</a>. Der Erfassung Ihrer Daten durch
                    Facebook-Pixel oder der Nutzung Ihrer Daten zum Zwecke der
                    Darstellung von Facebook-Ads können Sie widersprechen, indem
                    Sie sich an folgende Adresse wenden:
                    https://www.facebook.com/settings?tab=ads.
                </p>
                <p><strong>Tracking und Cookies</strong>
                    <br>
                    Wir verwenden Browser-Cookies und ähnliche Technologien, um
                    Sie wiederzuerkennen, wenn Sie zu unseren Diensten
                    zurückkehren. Auch Drittanbieter können aus verschiedenen
                    Gründen Cookies verwenden.
                    <br>
                    <br>
                    Die CodeBatch Community verwendet ein spezielles Cookie, um den
                    Nutzern die Nutzung von Google Universal Analytics zu
                    erleichtern
                    bei den Anwendungen oder Plattformen eingeloggt
                    („Angemeldeter Benutzer“). Wenn Sie ein angemeldeter
                    Benutzer sind, CodeBatch Community
                    kann Ihre CodeBatch-Community-Benutzer-ID in Kombination mit
                    Google Universal Analytics und Google Analytics verwenden,
                    um zu verfolgen
                    und analysieren Sie die Seiten der Dienste, die Sie
                    besuchen. Wir tun dies nur, um besser zu verstehen, wie Sie
                    die Website und die
                    andere Dienste, um Verbesserungen für alle Benutzer der
                    CodeBatch-Community anzubieten; und um unser Geschäft anzupassen
                    und Marketingaktivitäten entsprechend, sowohl allgemein als
                    auch speziell für Sie. Google Analytics-Cookies bieten kein
                    CodeBatch Community mit allen personenbezogenen Daten. Sie können
                    verhindern, dass Google Analytics Sie bei der Rückkehr
                    erkennt
                    Besuche dieser Website, indem Sie Cookies in Ihrem Browser
                    deaktivieren.
                    <br>
                    <br>
                    Sie können diese Funktion deaktivieren, indem Sie das
                    Browser-Add-on zur Deaktivierung von Google Analytics
                    installieren, Ihren Webbrowser so einstellen, dass er
                    Cookies ablehnt oder indem Sie Ihren Browser so einstellen,
                    dass er Sie benachrichtigt, wenn Cookies gesendet werden.
                    Beachten Sie in diesem Fall, dass einige Teile der Site
                    möglicherweise nicht richtig funktionieren.
                </p>
                <p><strong>Datensicherheit</strong>
                    <br>
                    Wir verwenden Verschlüsselung (HTTPS/TLS), um die von und zu
                    unserer Website übertragenen Daten zu schützen. Allerdings
                    ist keine Datenübertragung über das Internet zu 100 %
                    sicher, daher können wir die Sicherheit nicht garantieren.
                    Sie nutzen den Service auf eigenes Risiko und Sie sind dafür
                    verantwortlich, angemessene Maßnahmen zur Sicherung Ihres
                    Kontos zu ergreifen.
                </p>
                <p><strong>Verwaltungs-E-Mails von der CodeBatch-Community</strong>
                    <br>
                    Manchmal senden wir Ihnen E-Mails zu Ihrem Konto,
                    Dienständerungen oder neuen Richtlinien. Sie können diese
                    Art von „transaktionaler“ E-Mail nicht abbestellen (es sei
                    denn, Sie löschen Ihr Konto).
                    <br>
                    <br>
                    Wenn Sie mit h eine Transaktions-E-Mail, die von der
                    CodeBatch-Community gesendet wurde (z. B. das Öffnen einer E-Mail
                    oder das Klicken auf einen bestimmten Link in einer E-Mail),
                    erhalten wir möglicherweise Informationen über diese
                    Interaktion.
                </p>
                <p><strong>Nicht-administrative E-Mails von der
                        CodeBatch-Community</strong>
                    <br>
                    Wenn Sie ein CodeBatch-Community-Konto erstellen, werden Sie für
                    den CodeBatch-Community-Newsletter und andere nicht-administrative
                    E-Mails angemeldet. Ihre E-Mail-Adresse und
                    Benutzerprofilinformationen können von einem
                    E-Mail-Drittanbieter wie MailChimp oder Sendgrid gespeichert
                    werden. Sie können sich von nicht-administrativen E-Mails
                    wie Zusammenfassungen, Newslettern und
                    Aktivitätsbenachrichtigungen über die Seite „Einstellungen“
                    Ihres Kontos und über den Link in der Fußzeile in jeder
                    nicht-administrativen E-Mail, die Sie von uns erhalten,
                    abmelden.
                    <br>
                    <br>
                    Wenn Sie mit einer nicht administrativen E-Mail
                    interagieren, die von der CodeBatch-Community gesendet wurde (z.
                    B. eine E-Mail öffnen oder auf einen bestimmten Link in
                    einer E-Mail klicken), erhalten wir möglicherweise
                    Informationen über diese Interaktion.
                </p>
                <p><strong>Löschen Ihrer persönlichen Daten</strong>
                    <br>
                    Sie können die Löschung Ihrer persönlichen Daten und Ihres
                    Kontos anfordern, indem Sie eine E-Mail an <a
                        href="mailto:kontakt@codebatch.de">kontakt@codebatch.de</a> senden.
                    <br>
                    <br>
                    Um Informationen vor versehentlicher oder böswilliger
                    Zerstörung zu schützen, können wir Restkopien für einen
                    kurzen Zeitraum aufbewahren. Wenn Sie jedoch Ihr Konto
                    löschen, können Ihre Informationen und Inhalte nach dieser
                    Zeit nicht wiederhergestellt werden.
                </p>
                <p><strong>Datenübertragbarkeit</strong>
                    <br>
                    Wenn Sie eine Kopie Ihrer Benutzerdaten anfordern möchten,
                    senden Sie bitte eine E-Mail an <a
                        href="mailto:kontakt@codebatch.de">kontakt@codebatch.de</a>.</p>
                <p><strong>Geschäftsübertragungen</strong>
                    <br>
                    Wenn wir an einer Fusion, Übernahme, Insolvenz,
                    Reorganisation oder Veräußerung von Vermögenswerten
                    beteiligt sind, sodass Ihre Daten übertragen werden oder
                    einer anderen Datenschutzrichtlinie unterliegen, werden wir
                    Sie im Voraus über eine solche Änderung informieren.
                </p>
                <p><strong>Änderungen an dieser Richtlinie</strong>
                    <br>
                    Wir behalten uns das Recht vor, diese Datenschutzerklärung
                    jederzeit zu überarbeiten. Wenn wir diese
                    Datenschutzrichtlinie in Zukunft ändern, werden wir die
                    überarbeitete Datenschutzrichtlinie veröffentlichen und das
                    „Datum des Inkrafttretens“ oben aktualisieren, um das Datum
                    der Änderungen widerzuspiegeln.
                </p>
                <p><strong>Fragen</strong>
                    <br>
                    Wir freuen uns über Feedback zu dieser Richtlinie unter <a
                        href="mailto:kontakt@codebatch.de">kontakt@codebatch.de</a>.</p>

            </div>
        </div>
    </div>

</div> <!-- container -->
