<div class="container" style="margin-top: 6em;">

    <div class="row mt-5">
        <div class="col-12 bg-dark p-4" style="margin-top:-1em;">

            <h1>Nutzungsbedingungen für die Website</h1>
            <h6 class="text-primary">Übersetzen in:
                <%= link_to 'Englisch', terms_of_use_en_path, class: 'text-warning' %>
            </h6>

        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 bg-dark p-4">

            <div class="crayons-card text-styles text-padding">

                <h3 id="terms-text">
                    1. Bedingungen
                </h3>

                <p>
                    Durch den Zugriff auf diese Website erklären Sie sich damit
                    einverstanden, an diese gebunden zu sein
                    Nutzungsbedingungen der Website, unsere
                    <a href="/privacy">Datenschutzerklärung</a>, alle geltenden
                    Gesetze und Vorschriften,
                    und stimmen zu, dass Sie für die Einhaltung aller geltenden
                    lokalen
                    Gesetze. Wenn Sie mit einer dieser Bedingungen nicht
                    einverstanden sind, ist es Ihnen untersagt,
                    Nutzung oder Zugriff auf diese Website. Die auf dieser
                    Website enthaltenen Materialien sind
                    durch geltendes Urheber- und Markenrecht geschützt.
                </p>

                <h3 id="use-licence">
                    2. Lizenz verwenden
                </h3>

                <ol type="a">
                    <li>
                        Es wird die Erlaubnis erteilt, vorübergehend eine Kopie
                        der Materialien herunterzuladen
                        (Informationen oder Software) auf der Website der CodeBatch
                        Community für persönliche,
                        nur nicht-kommerzielle vorübergehende Betrachtung. Dies
                        ist die Erteilung einer Lizenz,
                        keine Übertragung des Eigentumsrechts, und im Rahmen
                        dieser Lizenz dürfen Sie nicht:

                        <ol type="i">
                            <li>die Materialien ändern oder kopieren;</li>
                            <li>die Materialien für kommerzielle Zwecke oder für
                                eine öffentliche Darstellung (kommerziell oder
                                nichtkommerziell) verwenden</li>
                            <li>versuchen, jegliche Software, die auf der
                                Website der CodeBatch Community enthalten ist, zu
                                dekompilieren oder zurückzuentwickeln;</li>
                            <li>alle Urheberrechts- oder sonstigen
                                Eigentumsvermerke aus den Materialien entfernen;
                                oder</li>
                            <li>die Materialien an eine andere Person übertragen
                                oder die Materialien auf einen anderen Server
                                "spiegeln".</li>
                        </ol>
                    </li>
                    <li>
                        Diese Lizenz endet automatisch, wenn Sie gegen eine
                        dieser Beschränkungen verstoßen, und kann jederzeit von
                        der CodeBatch-Community gekündigt werden. Nach Beendigung
                        Ihrer Anzeige dieser Materialien oder nach Beendigung
                        dieser Lizenz müssen Sie alle heruntergeladenen
                        Materialien in Ihrem Besitz vernichten, sei es in
                        elektronischer oder gedruckter Form.
                    </li>
                </ol>

                <h3 id="disclaimer">
                    3. Haftungsausschluss
                </h3>

                <ol type="a">
                    <li>
                        Die Materialien auf der Website der CodeBatch Community werden
                        "wie besehen" bereitgestellt. CodeBatch Community gibt keine
                        ausdrücklichen oder stillschweigenden Gewährleistungen
                        ab und lehnt hiermit alle anderen Gewährleistungen ab,
                        einschließlich, aber nicht beschränkt auf
                        stillschweigende Gewährleistungen oder Bedingungen der
                        Marktgängigkeit, Eignung für einen bestimmten Zweck oder
                        Nichtverletzung von geistigem Eigentum oder sonstiger
                        Verletzung von Rechten.
                        Darüber hinaus übernimmt die CodeBatch-Community keine
                        Gewährleistung oder Zusicherung hinsichtlich der
                        Genauigkeit, der wahrscheinlichen Ergebnisse oder der
                        Zuverlässigkeit der Verwendung der Materialien auf ihrer
                        Internet-Website oder anderweitig in Bezug auf diese
                        Materialien oder auf mit dieser Site verlinkten
                        Websites.
                    </li>
                </ol>

                <h3 id="limitations">
                    4. Einschränkungen
                </h3>

                <p>
                    In keinem Fall haften CodeBatch Community oder ihre Lieferanten
                    für Schäden (einschließlich, aber nicht beschränkt auf
                    Schäden aufgrund von Daten- oder Gewinnverlust oder aufgrund
                    von Betriebsunterbrechungen), die aus der Nutzung oder
                    Unmöglichkeit der Nutzung der Materialien im Internet der
                    CodeBatch Community entstehen Seite? ˅,
                    auch wenn die CodeBatch Community oder ein Bevollmächtigter
                    mündlich oder schriftlich auf die Möglichkeit solcher
                    Schäden hingewiesen wurde. Da einige Gerichtsbarkeiten keine
                    Beschränkungen stillschweigender Garantien oder
                    Haftungsbeschränkungen für Folge- oder Nebenschäden
                    zulassen, gelten diese Beschränkungen möglicherweise nicht
                    für Sie.
                </p>

                <h3 id="revisions-and-errata">
                    5. Revisionen und Errata
                </h3>

                <p>
                    Die Materialien, die auf der Website der CodeBatch Community
                    erscheinen, können technische, typografische oder
                    fotografische Fehler enthalten. CodeBatch Community garantiert
                    nicht, dass die Materialien auf ihrer Website richtig,
                    vollständig oder aktuell sind.
                    Die CodeBatch Community kann jederzeit ohne vorherige Ankündigung
                    Änderungen an den auf ihrer Website enthaltenen Materialien
                    vornehmen. CodeBatch Community verpflichtet sich jedoch nicht, die
                    Materialien zu aktualisieren.
                </p>

                <h3 id="links">
                    6. Links
                </h3>

                <p>
                    Die CodeBatch Community hat nicht alle mit ihrer Internet-Website
                    verlinkten Sites überprüft und ist nicht verantwortlich für
                    den Inhalt einer solchen verlinkten Site. Die Aufnahme eines
                    Links bedeutet keine Billigung der Website durch die
                    CodeBatch-Community. Die Nutzung einer solchen verlinkten Website
                    erfolgt auf eigene Gefahr des Benutzers.
                </p>

                <h3 id="copyright-takedown">
                    7. Urheberrecht / Entfernung
                </h3>

                <p>
                    Benutzer erklären sich damit einverstanden und bestätigen,
                    dass sie das Recht haben, alle Inhalte zu teilen, die sie
                    auf CodeBatch.de veröffentlichen – einschließlich, aber nicht
                    beschränkt auf Informationen, die in Artikeln, Diskussionen
                    und Kommentaren veröffentlicht wurden. Diese Regel gilt für
                    Prosa, Codeschnipsel, Linksammlungen usw. Unabhängig von der
                    Zitation dürfen Benutzer keine kopierten und eingefügten
                    Inhalte posten, die ihnen nicht gehören. Die Benutzer
                    übernehmen alle Risiken für die von ihnen veröffentlichten
                    Inhalte, einschließlich des Vertrauens anderer auf ihre
                    Richtigkeit, Ansprüche in Bezug auf geistiges Eigentum oder
                    anderer gesetzlicher Rechte. Wenn Sie glauben, dass ein
                    Nutzer plagiierte Inhalte hat, falsch dargestellt ihre
                    Identität, unterschlagene Arbeit oder anderweitig gegen die
                    DMCA-Bestimmungen verstoßen, senden Sie bitte eine E-Mail
                    <a href="mailto:kontakt@codebatch.de">kontakt@codebatch.de</a>. Die CodeBatch-Community
                    kann alle von Benutzern geposteten Inhalte aus beliebigem
                    Grund entfernen.
                </p>

                <h3 id="site-terms-of-use-modifications">
                    8. Änderungen der Nutzungsbedingungen der Website
                </h3>

                <p>
                    Die CodeBatch Community kann diese Nutzungsbedingungen für ihre
                    Website jederzeit ohne vorherige Ankündigung ändern. Durch
                    die Nutzung dieser Website erklären Sie sich mit der jeweils
                    aktuellen Version dieser Nutzungsbedingungen einverstanden.
                </p>

                <h3 id="CodeBatch-trademarks-and-logo-policy">
                    9. CodeBatch-Community-Marken- und Logos-Richtlinie
                </h3>

                <p>
                    Alle Verwendungen des Logos der CodeBatch Community, der Abzeichen
                    der CodeBatch Community, der Markenslogans, der Ikonographie und
                    dergleichen dürfen nur mit ausdrücklicher Genehmigung der
                    CodeBatch Community verwendet werden.
                    CodeBatch Community behält sich alle Rechte vor, auch wenn
                    bestimmte Assets in Open-Source-Projekten der CodeBatch Community
                    enthalten sind. Bitte kontaktieren Sie <a
                        href="mailto:kontakt@codebatch.de">kontakt@codebatch.de</a>, wenn Sie Fragen
                    haben oder um Erlaubnis bitten möchten.
                </p>

                <h3 id="reserved-names">
                    10. Reservierte Namen
                </h3>

                <p>
                    Die CodeBatch Community hat das Recht, eine Liste mit reservierten
                    Namen zu führen, die nicht öffentlich zugänglich gemacht
                    werden. Diese reservierten Namen können zum Zwecke des
                    proaktiven Markenschutzes, zur Vermeidung von
                    Benutzerverwirrung, Sicherheitsmaßnahmen oder aus anderen
                    Gründen (oder ohne Grund) beiseite gelegt werden.
                </p>

                <p>
                    Darüber hinaus behält sich CodeBatch Community das Recht vor,
                    bereits beanspruchte Namen nach eigenem Ermessen zu ändern.
                    In solchen Fällen wird die CodeBatch Community angemessene
                    Anstrengungen unternehmen, um eine geeignete Alternative zu
                    finden und bei allen Übergangsproblemen zu helfen.
                </p>

                <h3 id="content-policy">
                    11. Inhaltsrichtlinie
                </h3>

                <p>
                    Die folgende Richtlinie gilt für Kommentare, Artikel und
                    alle anderen Werke, die auf der CodeBatch-Community-Plattform
                    geteilt werden:
                    <ul>
                        <li>Benutzer müssen sich nach Treu und Glauben bemühen,
                            themenbezogene und qualitativ hochwertige Inhalte zu
                            teilen, die nicht in erster Linie für Werbezwecke
                            oder die Erstellung von Backlinks bestimmt sind.
                        </li>
                        <li>Beiträge müssen wesentliche Inhalte enthalten — sie
                            dürfen nicht nur auf einen externen Link verweisen,
                            der den vollständigen Beitrag enthält.</li>
                        <li>Wenn ein Beitrag Affiliate-Links enthält, muss diese
                            Tatsache klar angegeben werden. Zum Beispiel mit
                            einer Sprache wie: „Dieser Beitrag enthält
                            Affiliate-Links; Ich erhalte möglicherweise eine
                            Entschädigung, wenn Sie Produkte oder
                            Dienstleistungen über die verschiedenen Links in
                            diesem Artikel kaufen.“</li>
                    </ul>
                </p>

                <p>
                    CodeBatch Community behält sich das Recht vor, alle Inhalte, die
                    ihrer Ansicht nach gegen diese Richtlinie verstoßen, nach
                    eigenem Ermessen zu entfernen. Darüber hinaus behält sich
                    die CodeBatch Community das Recht vor, die Möglichkeit eines
                    Benutzers zur Teilnahme an der Plattform nach eigenem
                    Ermessen einzuschränken.
                </p>

                <h3 id="governing-law">
                    12. Geltendes Recht
                </h3>

                <p>
                    Alle Ansprüche in Bezug auf die Website der CodeBatch Community
                    unterliegen den Gesetzen des Staates New York ohne Rücksicht
                    auf die Kollisionsnormen.
                </p>

                <p>
                    Allgemeine Geschäftsbedingungen für die Nutzung einer
                    Website.
                </p>

            </div>


        </div>
    </div>

</div> <!-- container -->
