/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

// Create your own map
// $custom-colors: (
//     "purple-500": #6f42c1,
// );

// Merge the maps
// $theme-colors: map-merge($theme-colors, $custom-colors);

* {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -400px;
}

/* Safari Button Hack */
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button-bevel !important;
}

.footer, .push {
    min-height: 400px;
    clear: both;
}

.nav-item a {
    padding: 1vh 0 .5vh 2vw !important;
    display: inline-flex;
    flex-wrap: nowrap;
    min-width: 100%;
}

.avatar {
    border-radius: 100%;
}

.search {
    margin-left: 1rem;
    display: flex;
}

.uemail {
    display: inline;
}

@media screen and (max-width: 420px) {
    .search {
        display: none;
    }
    .uemail {
        display: none;
    }
    .mobile-display-none {
        display: none;
    }
    .footer .list-group-item {
        max-width: 45% !important;
        min-width: 53% !important;
        font-size: x-small;
        width: 100vw;
        padding: 0 !important;
    }
    .logo-circle-footer {
        width: 30% !important;
        margin-left: 0.3em !important;
    }
    .footer .card-text, .footer .card-title {
        text-align: center;
    }
    .footer .copyright {
        font-size: small;
    }
}

.no-border {
    border: none !important;
}

.logo-circle-footer {
    width: 75%;
    margin-left: 0.3em !important;
}

.footer .list-group-item {
    max-width: 30% !important;
    min-width: 35% !important;
    font-size: small;
}

.footer .card-text {
    font-size: small;
}

.hidden {
    display: none;
}

.search-input {
    width: 30vw !important;
}

.w-4 {
    width: 4%;
}

.w-5 {
    width: 5%;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.logo-footer {
    margin-top: -4px;
}

.logo-circle-footer {
    margin-left: -1em;
}

.mt-n1 {
    margin-top: -1rem;
}

.dropdown-menu {
    min-width: 5rem !important;
}

.flag-germany::before {
    content: url(flag-germany-16px.png);
    display: inline-block;
    line-height: 1;
    vertical-align: -.200em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flag-america::before {
    content: url(flag-america-16px.png);
    display: inline-block;
    line-height: 1;
    vertical-align: -.300em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bi-house-door-fill::before {
    color: #17a2b8;
}

.bi-stickies-fill::before {
    color: #20c997;
}

.bi-signpost-2-fill::before {
    color: #28a745;
}

.bi-camera-reels-fill::before {
    color: #ffc107;
}

.bi-mic-fill::before {
    color: #fd7e14;
}

.bi-newspaper::before {
    color: #dc3545;
}

.bi-question-diamond-fill::before {
    color: #e83e8c;
}

.bi-info-circle-fill::before {
    color: #5d4d7a;
}

.bi-person-lines-fill::before {
    color: #6f42c1;
}

.bi-chat-text-fill::before {
    color: #6610f2;
}

.bi-tags-fill::before {
    color: #007bff;
}

.bi-hand-thumbs-up-fill::before {
    color: #17a2b8;
}

.bi-patch-check-fill::before {
    color: #20c997;
}

.bi-lightbulb-fill::before {
    color: #28a745;
}

.bi-bag-fill::before {
    color: #ffc107;
}

.bi-heart-fill::before {
    color: #fd7e14;
}

.bi-shield-lock-fill::before {
    color: #dc3545;
}